<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= eur @product.price %>
</p>

<p><%= button_to "Add to Cart", add_to_cart_path, :params => {product_id: @product.id}, :method => :post %></p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
